body {
    background-color: black;
    color: white;
    margin: 0px;
    font-family: "Smooch Sans";
    font-size: 27px;
}
div {
    margin-left: 250px;
    margin-right: 250px;
}
#username_header {
    padding: 0px;
    font-weight: 500;
    font-size: 90px;
    transition: 0.7s;
    margin: 60px;
}
#username_header:hover {
    color: red;
    font-size: 90px;
    letter-spacing: 10px;
    font-size: 105px;
}
.nav_bar {
    border-bottom: 1px white solid;
    padding: 10px;
}
a {
    color: white;
    text-decoration: none;
}
.nav_items {
    word-spacing: 60px;
}
.nav_item {
    transition: 0.7s;
}
.nav_item:hover {
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 2px;
}
hr {
    margin-left: 400px;
    margin-right: 400px;
}
h2 {
    font-size: 50px;
    font-weight: 100;
    transition: 0.7s;
}
p {
    color: white;
}
.about_me {
    opacity: 0;
    transition: 0.7s;
}
.about_me:hover {
    opacity: 100;
}
.about_me:hover > h2 {
    color: red;
    letter-spacing: 4px;
}
a {
    transition: 0.35s;
}
a:hover {
    color: purple;
}
.diamond {
    color: red;
}
.help {
    font-size: 15px;
    letter-spacing: 1px;
}

@media all and (max-width: 800px) {
    body {
        font-size: 16px;
    }
    div {
        margin-left: 10px;
        margin-right: 10px;
    }
    #username_header {
        margin: 10px;
        font-size: 30px;
    }
    #username_header:hover {
        font-size: 50px;
        letter-spacing: 0px;
    }
    hr {
        margin-left: 30px;
        margin-right: 30px;
    }
    .help {
        font-size: 8px;
    }
}